<?xml version="1.0" encoding="UTF-8"?>
<launch>
    <!-- Gazebo world -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="debug" value="false" />
        <arg name="gui" value="true" />
        <arg name="paused" value="false"/>
        <arg name="use_sim_time" value="true"/>
        <arg name="headless" value="false"/>
    </include>

    <!-- URDF setting -->
    <arg name="model" default="$(find test_gazebo_simple)/urdf/robot.urdf" />
    <param name="robot_description" command="$(find xacro)/xacro $(arg model)" />

    <!-- Spawn URDF -->
    <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model"
          args="-urdf -model robot -param robot_description -z 0" />

    <!-- Controller param -->
    <rosparam command="load"
              file="$(find test_gazebo_simple)/config/joints.yaml"
              ns="robot" />

    <rosparam command="load"
              file="$(find test_gazebo_simple)/config/control.yaml"
              ns="robot" />

    <!-- Spawn controller -->
    <node name="robot_state_spawner" pkg="controller_manager" type="spawner"
          args="robot_joint_state --timeout 5 --namespace robot" />

    <node name="robot_controller_spawner" pkg="controller_manager" type="spawner"
          args="robot_controller --timeout 5 --namespace robot" />

    <!-- Image Process -->
    <node pkg="test_gazebo_simple" type="camera.py" name="camera" output="screen" required="true" />

</launch>
